.d-padding {
  padding-block: 50px;
}
.login-section {
  height: 100vh;
  background-color: #fafafa;
}
.shadows {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: .6s ease-in-out;
}
.left-login {
  background-color: #7d1329;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.right-login {
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
}
.make-white {
  filter: brightness(0) invert(1);
}
.ai-info {
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
}
.login-logo {
  width: 50%;
  height: 50%;
}
.login-logo img {
  width: 100%;
  height: 100%;
}
.login-heading {
  font-weight: 400;
}

.login-sub-heading {
  color: gray;
  font-weight: 300;
  font-size: 12px;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
label {
  font-size: 12px;
}
.email-form {
  width: 69%;
}
.email-form input {
  border: 1px solid #efefef;
  padding: 7px;
  border-radius: 5px;
  width: 100%;
  outline: none;
}
.email-form input:focus{
  box-shadow: #7d1329;
}
.div-log-btn {
  width: 69%;
}
.div-log-btn button {
  padding: 7px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 500;
  background-color: #7d1329;
}
.email-form input::placeholder {
  font-size: 12px;
}
.google-btn img {
  width: 20px;
  height: 20px;
}
.google-btn {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
    border: none;

  gap: 8px;
}
.div-google {
  width: 69%;
}
.signup-tag{
  color: gray;
  text-align: center;
  font-size: 14px;

}
.signup-tag a{
  padding-left: 2px;
  color: #7d1329;
  text-decoration: none;
}
.make-rotation{
  opacity: 0;
  transition: 0.8s ease-in-out;
  transform: translateX(100px);
}
.login-heading span{
  color: #7d1329;
  font-weight: 600;
}
.signup-form{
  width: 69%;
  /* justify-content: center;
  align-items: center; */
}
.signup-form input {
  border: 1px solid #efefef;
  padding: 7px;
  border-radius: 5px;
  width: 100%;
  outline: none;
}
.signup-form input::placeholder {
  font-size: 12px;
}
.seterror{
  color: #7d1329;
  font-size: 12px;
  margin: 0;
  transition: 0.6s ease-in-out;
}
.referenceerror{
  border: 1px solid red !important ;
  transition: .4s ease-in-out;
}
.referenceerrord{
  border: 1px solid #efefef !important;
  transition: .4s ease-in-out;

}
.right-login{
height: 100%;
}
.row-shadow{
  box-shadow: none;
  border-radius: none;
}
.signloader {
    width: 18px;
    height: 18px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

@media screen and (max-width: 768px) {
  .right-login{
height: auto;
background-color: none;
}
.left-login{
background-color: #fafafa;
border: none;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}
.shadows{
  box-shadow: none;
}
.login-section{
  height:auto ;
}
.login-logo{
  width: 150px;
  height: 150px;
  background-color: #7d1329;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.login-logo img{
  width: 70%;
  object-fit: contain;
  height: 100%;
  vertical-align: middle;
}
.ai-info{
  color: #7d1329;
}
.row-shadow{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 3px;
    padding: 3px;
}
}