@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  cursor: pointer;
}
.strip-pay {
  width: 100%;
  height: 100vh;
}
.payment-btn {
  background: blue;
  border-radius: 4px;
  padding-inline: 20px;
  padding-block: 5px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(0 0 0/50%) 30%,
        #0000 0 70%,
        rgb(0 0 0/100%) 0
      )
      50%/8% 100%,
    linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0)
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
.loader-main {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 90000;
}

.pop-up {
  position: relative;
  z-index: 10;
}
.pop {
  position: absolute;
  top: 20px;

  z-index: 90000;
  width: 100%;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.pop-message {
  background-color: #fafafa;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 300px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.close-div {
  width: 30px;
  height: 30px;
  background-color: #7d1329;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  right: 8px;
  top: 6px;
  border: none;
}
.content-logout {
  font-weight: 600;
}
.pop-btn button {
  border: none;
  outline: none;
  padding: 3px;
  border-radius: 4px;
  padding-inline: 7px;
  background: #7d1329;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  border: none;
}
.opac {
  transition: 3s ease-in-out;
}
.payment-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin-left: 120px;
}
.payment-hading p {
  color: gray;
  font-size: 14px;
  font-weight: 300;
}
.plan-offer-heading h6 {
  font-weight: 600;
}
.save-plan p {
  color: gray;
}
.save-plan span {
  background-color: #7d132e;
  border-radius: 10px;
  color: white;
  padding-inline: 5px;
}
.dollar-plan {
  font-weight: 600;
}
.dollar-plan span {
  font-size: 19px;
}
.card {
  border: 1px solid #7d1329 !important;
}
.plan-btn {
  /* padding-inline: 30px; */
  padding-block: 10px;
  width: 100%;
  color: #7d1329;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 7px;
  background: white;
  border: 1px solid #7d1329;
}
.small-p-plan {
  color: gray;
  font-size: 12px;
  font-weight: 300;
}
.line-plan {
  width: 100%;
  /* padding-top: 10px; */
  height: 1px;
  background-color: #7d1329;
}
.btn-active {
  background-color: #7d1329;
  color: white;
}
.active-plan {
  border: 3px solid #7d1329 !important;
}
.all-features {
  font-size: 13px;
  font-weight: 600;
}
.modals {
  position: fixed;
  width: 52%;
  height: 87vh;
  background: white;
  border-radius: 10px;
  border: 1px solid #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
}
